<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesheets/main.css' %}">
</head>
<body>

    <h1>Login Form</h1>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Enter Name</td>
                <td>
                    <input type="text" placeholder="Enter Name" name="u_name">
                </td>
            </tr>
            <tr>
                <td>Enter Password</td>
                <td>
                    <input type="password" placeholder="Enter Password" name="u_password">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="reset">
                </td>
                <td>
                    <input type="submit" value="Login">
                </td>
            </tr>
        </table>
    </form>

    <hr>

    <h2>Register Now</h2>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Enter Name</td>
                <td>
                    <input type="text" placeholder="Enter Name" name="u_name">
                </td>
                <td>Enter Email</td>
                <td>
                    <input type="email" placeholder="Enter Email" name="u_mail">
                </td>
            </tr>
            <tr>
                <td>Enter Password</td>
                <td>
                    <input type="password" placeholder="Enter Password" name="u_password">
                </td>
            </tr>
            <td>Enter Age</td>
                <td>
                    <input type="number" placeholder="Enter Age" name="u_age">
                </td>
            <tr>
                <td>
                    <input type="reset">
                </td>
                <td>
                    <input type="submit" value="Login">
                </td>
            </tr>
        </table>
    </form>
    
</body>
</html>